.orderListContainer {
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .topNav {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-end;

    .addButton {
      padding: 10px 15px;
      background-color: #28a745;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }

    .addButton:hover {
      background: #0056b3;
    }
  }

  .orderList {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  .orderItem {
    background: #f8f9fa;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #dedede;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .actionItems {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

    .buttons {
      color: white;
      border: none;
      padding: 8px 12px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
    }

    .editBtn {
      background: black;
    }

    .deleteButton {
      background: #dc3545;
    }
  }

  .noRecordFound {
    display: flex;
    justify-content: center;
    border: 2px solid #dedede;
    padding: 15px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: bold;
  }

  /* Pagination Styles */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .pagination button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .pagination button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

  .pagination span {
    font-size: 14px;
    font-weight: bold;
  }
}
